<!DOCTYPE html>
<html>
  <head>
    <style>
      body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 500;
font-size: 50px;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        font-size: 70px;
      }

      th,
      td {
        text-align: left;
        padding: 8px;
        
      }

      tr:nth-child(even) {
        background-color: #d6eeee;
        height: 100px;
      }
    </style>
  </head>
  <body>
    <h2>List Of Medicalsupplies</h2>
    <p>
     Refer the following info for Medicalsupplies details nearby our hospital.
    </p>

    <table>
      <tr>
        <th>Srno</th>
        <th>Medicalsupplies NAME</th>
        <th>Contact</th>
        <th>Address</th>
        <th>Email</th>
      </tr>
      <% for (i=0;i<msn.length; i++) {%>
      <tr>
          <td><%=i+1%></td>
        <td><%=msn[i]%></td>
        <td><%=msph[i]%></td>
        <td><%=msd[i]%></td>
        <td><%=msm[i]%></td>
      </tr>
      <%}%>
    </table>
  </body>
</html>
